/* 
                    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

img{
    width: 100%;
}

/* 
                    BUTTON 
*/

.button-small{
    padding: 5px 15px;
}

.button-normal{
    padding: 10px 20px;
}

.button-larger{
    padding: 10px 50px;
}

.blue-button{
    background-color: #0061FF;
    color: white;
}

.border{
    border: 1px solid black;
}

.white-button{
    background-color: white;
    color: black;
}

.partner-button{
    margin-top: 30px;
    padding: 10px 15px;
}

/* 
                    HEADER
 */
 
 /* HEADER TOP */

.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-nav, .right-nav{
    width: 30vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

/* HEADER BOTTOM */

.header-bottom{
    width: 100%;
    background-color: #B4D0E7;
}

    /* CONTAINER 65 */

.container-65{
    width: 65%;
    margin: auto;
    padding-top: 70px;
}

    /* TITOLO */

.header-bottom > .container-65 > h1{
    font-size: 80px;
}

    /* SEZIONE SOTTO IL TITOLO */

.under-title{
    margin-top: 50px;
    display: flex;
}

    /* TESTO */

.text-under-title{
    height: 400px;
    width: 30%;
    font-size: 16px;
    position: relative;
}

.text-under-title .fa-arrow-down{
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}

.text-under-title > *{
    margin-bottom: 30px;
}

    /* IMMAGINE */

.img-header{
    position: relative;
    width: 70%;
}

.img-header > img{
    max-width: 900px;  
    position: absolute;
    left: 0;
    top: 0;
}

/* Lascio 900px perchè ho un 21:9 e per avere un'idea di come sta venendo preferisco metterlo in px sennò viene tutto troppo grande */


 /* 
                    MAIN
 */

/* CONTAINER-55 */

.container-55{
    margin: auto;
    margin-top: 180px;
    width: 55%;
 }

    /* TITOLI  */

.container-55 h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.container-55 h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.container-55 h4{
    font-size: 20px;
    margin: 40px 0px;
}

    /* RADIO BOX */

.container-55 > .radio-box{
    display: inline-block;
    margin-right: 50px;
}

.container-55 input[type='radio']{
    cursor: pointer;
}

    /* COLUMN CONTAINER */

.column-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
 }

    /* TIPO DI SERVIZIO */

.card{
    width: calc(100% / 3 - 40px);
}

.plan-type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #DFDFE1;
    border-right: 1px solid #DFDFE1;
    border-left: 1px solid #DFDFE1;
}

.icon-plan{
    margin-right: 5px;
}

    /* DETTAGLI DEL SERVIZIO */

.detail-plan{
    height: 100%;
    border-bottom: 1px solid #DFDFE1;
    border-right: 1px solid #DFDFE1;
    border-left: 1px solid #DFDFE1;
    padding: 30px 25px 0px;
    border: 1px solid #DFDFE1;
}

.price{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.month{
    color: grey;
}

.detail-plan ul:first-of-type{
    margin: 50px 0px;
}

.trial{
    display: flex;
    justify-content: center;
}

.detail-plan li{
    list-style: none;
    margin-bottom: 20px;
    display: flex;
}

.detail-plan i{
    margin-top: 3px;
}

.detail-plan ul > li > div{
    margin-left: 5px;
    display: inline-block;
}

.link{
    text-decoration: underline;
    color: rgb(0, 60, 255);
}

.buy-now{
    margin-top: 30px;
}

.detail-plan hr{
    border: 1px solid #DFDFE1;
    width: 20%;
    margin: 40px 0px;
}

.bold{
    font-weight: bold;
    margin-bottom: 30px;
}

.detail-plan .fa-check{
    color: #0061FF;
}

/* ROW */

.plan-row{
    width: 100%;
    margin-top: 100px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-row{
    margin-top: 50px;
    width: 600px;
}

    /* PARTNER */

.flex{
    display: flex;
}

.partner-img{
    width: 65%;
}

.box-right{
    width: 35%;
    padding-left: 50px;
    padding-top: 50px;
    align-self: flex-start;
}

    /* OPERATION */

.card > p{
    margin-bottom: 50px;
}

    /* TEAMS TITOLO */

.go-down{
    width: 600px;
}

    /* TEAMS */

.container-100{
    margin-top: 200px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.mini-square{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mini-square:hover{
    border: 20px solid #F5F5F5;
}

.container-100 > .square > .mini-square > img{
    filter: invert(100%);
    width: 50%;
}

.square-middle{
    display: block;
    padding: 50px;
}

.bg-middle > img{
    display: flex;
    align-self: flex-start;
    width: 60%;
}

.square-middle hr{
    width: 25%;
    color: grey;
    margin: 50px 0;
}

.square-middle > p{
    margin-bottom: 50px;
}

    /* PROVA GRATUITA */

.container-100 + .bg-hearst{
    height: calc(100vw / 6);
    margin-top: 0;
    display: flex;
    align-items: center;
}

.container-100 + .bg-hearst > .container-55{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-100 > .container-55 > h2{
    color: #61082B;
    margin-bottom: 0;
    width: 500px;
}

.container-100 > .container-55 > .button-larger{
    margin-top: 10px;
    align-self: flex-start;
}

    /* DOMANTE FREQUENTI */

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-between:nth-of-type(2n+1){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.question > .space-between > .fa-angle-down{
    margin-right: 50px;
}

    /* BACKGROUND COLOR */

.bg-design{
    border: 20px solid #D1E9CD;
    background-color: #A2D39B;
}

.bg-asu{
    background-color: #61082B;
}

.bg-uf{
    background-color: #0093CE;
}

.bg-red{
    background-color: red;
}

.bg-middle{
    background-color: #F5F5F5;
}

.bg-hearst{
    background-color: #B4D0E7;
}

.bg-blue{
    background-color: blue;
}

.bg-yellow{
    background-color: #FFD830;
}

 /* 
                    FOOTER
 */

footer{
    margin-top: 150px;
    background-color: black;
    min-height: 500px;
    padding: 50px 0;
}

footer > .up-footer{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > .up-footer > .card-footer{
    width: calc(100% / 6);
    display: inline-block;
    min-height: 100px;
}

footer > .up-footer > .card-footer > h3{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

footer > .up-footer > .card-footer > ul{
    list-style: none;
}

footer > .up-footer > .card-footer a{
    color: white;
    font-size: 17px;
    margin-bottom: 17px;
}

footer > .down-footer > hr{
    color: white;
    width: 10%;
    height: 1px;
    margin: 50px 0px;
    display: block;
}

footer .nationality{
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.nationality > .fa-sort-up{
    margin-top: 7px;
}

 /* 
                    DEBUG
 */

/* .debug .header-top{
    background-color: red;
    border: 3px dashed aqua;
}

.debug .left-nav{
    background-color: blue;
    border: 3px dashed green;
}

.debug .right-nav{
    background-color: brown;
    border: 3px dashed yellow;
}

.debug .header-bottom{
    border: 3px dashed red;
}

.debug .container-65{
    background-color: yellow;
    border: 3px dashed purple;
}

.debug .title{
    background-color: green;
    border: 3px dashed blue;
}

.debug .under-title{
    background-color: yellowgreen;
    border: 3px dashed red;
}

.debug .text-under-title{
    background-color: white;
    border: 3px dashed black;
}

.debug .img-header{
    background-color: blue;
    border: 3px dashed orange;
}

.debug .container-55{
    background-color: violet;
    border: 3px dashed white;
}

.debug .column-container{
    background-color: fuchsia;
    border: 3px dashed cyan;
}

.debug .plan{
    background-color: bisque;
} */

/* .debug .container-100{
    background-color: red;
}

.debug .square{
    background-color: yellow;
} */