/* 
                    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

img{
    width: 100%;
}

/* 
                    BUTTON 
*/

.button-small{
    padding: 5px 15px;
}

.button-normal{
    padding: 10px 20px;
}

.blue-button{
    background-color: #0061FF;
    color: white;
}

.white-button{
    background-color: white;
    color: black;
}

/* 
                    HEADER
 */
 
 /* HEADER TOP */

.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-nav, .right-nav{
    width: 30vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

/* HEADER BOTTOM */

.header-bottom{
    width: 100%;
    height: 70vh;
    background-color: #B4D0E7;
}

.container-header-bottom{
    width: 65%;
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.header-bottom > .container-header-bottom > h1{
    font-size: 80px;
}

.under-title{
    margin-top: 50px;
    display: flex;
}

.text-under-title{
    width: 30%;
    font-size: 16px;
    position: relative;
}

.text-under-title .fa-arrow-down{
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}

.text-under-title > *{
    margin-bottom: 30px;
}

.img-header{
    position: relative;
    width: 70%;
}

.img-header > img{
    max-width: 1000px;
    position: absolute;
    left: 0;
    top: 0;
}

 /* 
                    MAIN
 */


 /* 
                    FOOTER
 */

 /* 
                    DEBUG
 */

.debug .header-top{
    background-color: red;
    border: 3px dashed aqua;
}

.debug .left-nav{
    background-color: blue;
    border: 3px dashed green;
}

.debug .right-nav{
    background-color: brown;
    border: 3px dashed yellow;
}

.debug .header-bottom{
    border: 3px dashed red;
}

.debug .container-header-bottom{
    background-color: yellow;
    border: 3px dashed purple;
}

.debug .title{
    background-color: green;
    border: 3px dashed blue;
}

.debug .under-title{
    background-color: yellowgreen;
    border: 3px dashed red;
}

.debug .text-under-title{
    background-color: white;
    border: 3px dashed black;
}

.debug .img-header{
    background-color: blue;
    border: 3px dashed orange;
}